{% extends 'base.html.twig' %}

{% block title %} Category {% endblock %}

{% block body %}
    <h1>Pour ajouter une catégorie => <a href="{{ path('category_new')}}"> Par Ici </a></h1>

    <h1> Catégories existantes </h1>
    
    {% for category in categories %}
        <div class="container">
            <a href="{{path ('category_show', {categoryName: category.name}) }}"><h2> {{ category.name }} </h2></a>
        </div>
    {% endfor %}
        <div class="container">
            <a href="{{ path('category_empty')}}"><h2>Cul</h2></a>
        </div>
{% endblock %}
