@import "~bootstrap/scss/bootstrap";

// customize some Bootstrap variables
$theme-colors: (
        "primary": blue,
        "danger": magenta,
        "warning": red,
        "success": yellow
);

body{
  background-color: rgb(83, 20, 83);
}
.img_home_index{
  justify-content: space-around;
  height: 300px;
  width: 300px;
}