{% extends "base.html.twig" %}

{% block body %}
    <h1>{{ welcome }}</h1>
        <div class="main_page">
            <h1>Pour afficher les différentes séries => <a href="{{ path('program_programs_index') }}"> Par Ici</a> </h1>
        </div>
{% endblock body %}